In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy
%matplotlib inline

/Users/koyuki.nakamori/anaconda/lib/python2.7/site-packages/matplotlib/colors.py:680: MatplotlibDeprecationWarning: The is_string_like function was deprecated in version 2.1.
  not cbook.is_string_like(colors[0]):

In [2]:
music = pd.DataFrame()

# Some data to play with.
music['duration'] = [184, 134, 243, 186, 122, 197, 294, 382, 102, 264, 
                     205, 110, 307, 110, 397, 153, 190, 192, 210, 403,
                     164, 198, 204, 253, 234, 190, 182, 401, 376, 102]
music['loudness'] = [18, 34, 43, 36, 22, 9, 29, 22, 10, 24, 
                     20, 10, 17, 51, 7, 13, 19, 12, 21, 22,
                     16, 18, 4, 23, 34, 19, 14, 11, 37, 42]

# We know whether the songs in our training data are jazz or not.
music['jazz'] = [ 1, 0, 0, 0, 1, 1, 0, 1, 1, 0,
                  0, 1, 1, 0, 1, 1, 0, 1, 1, 1,
                  1, 1, 1, 1, 0, 0, 1, 1, 0, 0]

In [11]:
music

    duration  loudness  jazz
0        184        18     1
1        134        34     0
2        243        43     0
3        186        36     0
4        122        22     1
5        197         9     1
6        294        29     0
7        382        22     1
8        102        10     1
9        264        24     0
10       205        20     0
11       110        10     1
12       307        17     1
13       110        51     0
14       397         7     1
15       153        13     1
16       190        19     0
17       192        12     1
18       210        21     1
19       403        22     1
20       164        16     1
21       198        18     1
22       204         4     1
23       253        23     1
24       234        34     0
25       190        19     0
26       182        14     1
27       401        11     1
28       376        37     0
29       102        42     0

In [30]:
from collections import Counter 
def neighbors(X, Y, neighbors):
    df = music.copy()
    df['distance'] = 0
    for i in range(len(music['duration'])):
        X_1 = (music.at[i, 'duration'] - X) ** 2
        X_2 = (music.at[i, 'loudness'] - Y) ** 2
        df.at[i, 'distance'] = np.sqrt(X_1 + X_2)

    c=Counter(df.sort_values('distance')[:neighbors].jazz)
    predict=c.most_common()[0][0]
    return df, predict
 
#     if (sum_jazz / neighbors) >= .5:
#         return 1
#     else:
#         return 0

In [31]:
df, predict = neighbors(100, 10, 5)

In [40]:
df.sort_values('distance')[:5]

    duration  loudness  jazz  distance
8        102        10     1         2
11       110        10     1        10
4        122        22     1        25
29       102        42     0        32
1        134        34     0        41

In [34]:
predict

1

In [36]:
df2, predict2 = neighbors(200, 10, 5)

In [37]:
df2.sort_values('distance')[:5]

    duration  loudness  jazz  distance
5        197         9     1         3
22       204         4     1         7
17       192        12     1         8
21       198        18     1         8
10       205        20     0        11

In [39]:
predict2

1

In [51]:
df3, predict3 = neighbors(250, 30, 5)

In [52]:
df3.sort_values('distance')[:5]

    duration  loudness  jazz  distance
23       253        23     1         7
2        243        43     0        14
9        264        24     0        15
24       234        34     0        16
18       210        21     1        41

In [53]:
predict3

0